* {
  margin: 0;
  box-sizing: border-box;
}
* {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
}
img {
  vertical-align: middle;
  outline: none;
  -webkit-backface-visibility: hidden;
}
html::-webkit-scrollbar {
  display: none;
}
html,
body {
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
  font-size: 12px;
}
video {
  vertical-align: middle;
}
video:focus {
  outline: none;
}
li {
  list-style: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000;
}
i {
  font-style: normal;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.d-flex {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -o-display: flex;
}
.flex-1 {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
}
.flex-2 {
  flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -o-flex: 2;
}
.flex-row {
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
}
.justify-center {
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
}
.justify-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -o-justify-content: space-around;
}
.align-center {
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
}
.align-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -o-align-items: flex-end;
}

.cursor {
  cursor: pointer;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs26 {
  font-size: 26px;
}
.fs28 {
  font-size: 28px;
}
.fs30 {
  font-size: 30px;
}
.fs32 {
  font-size: 32px;
}
.fs34 {
  font-size: 34px;
}
.fs36 {
  font-size: 36px;
}
.f-w {
  font-weight: bold;
}
/* margin */
.mg10 {
  margin: 10px;
}
.mtb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
// margin-left
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.ml50 {
  margin-left: 50px;
}
.ml60 {
  margin-left: 60px;
}
.ml100 {
  margin-left: 100px;
}
// margin-top
.mt4 {
  margin-top: 4px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
//margin-right
.mr5 {
  margin-right: 5px;
}
.mr8 {
  margin-right: 8px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mr40 {
  margin-right: 40px;
}
.mr50 {
  margin-right: 50px;
}
.mr60 {
  margin-right: 60px;
}
.mr100 {
  margin-right: 100px;
}
// margin-bottom
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
div.mb40 {
  margin-bottom: 40px;
}
/* padding */
.pd10 {
  padding: 10px;
}
.pd20 {
  padding: 20px;
}
// padding-top
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
// padding-right
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr18 {
  padding-right: 18px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.pr50 {
  padding-right: 50px;
}
.pr100 {
  padding-right: 100px;
}
// padding-bottom
.pt5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb100 {
  padding-bottom: 100px;
}
.pl10 {
  padding-left: 10px;
}
.pl18 {
  padding-left: 18px;
}
.pl20 {
  padding-left: 20px;
}
.plr20 {
  padding-left: 20px;
  padding-right: 20px;
}
.pl25 {
  padding-left: 25px;
}
.plr8 {
  padding: 0 8px;
}
.pr25 {
  padding-right: 25px;
}
.pr40 {
  padding-right: 40px;
}
.pl40 {
  padding-left: 40px;
}
.pl50 {
  padding-left: 50px;
}
.pl60 {
  padding-left: 60px;
}
.pl100 {
  padding-left: 100px;
}
.p-all-10 {
  padding: 10px;
}
.c-999 {
  color: #999;
}
